---
const { type = 'note', title, icon } = Astro.props;
---

<div class={`callout ${type}`}>
  {title ? (
    <p class="callout-title" data-icon={icon}>
      {title}
    </p>
  ) : null}
  <slot />
</div>
